{% extends 'ecom/customer_base.html' %}
{% load static %}

{% block content %}
<style media="screen">
  .failed-page{
  max-width:300px;
  display:block;
  margin: 0 auto;
  text-align: center;
      position: relative;
    top: 50%;
    transform: perspective(1px) translateY(50%)
}
.failed-page img{
  max-width:62px;
  display: block;
  margin: 0 auto;
}

.btn-view-orders{
  display: block;
  border:1px solid #1a237e;
  width:100px;
  margin: 0 auto;
  margin-top: 45px;
  padding: 10px;
  color:#fff;
  background-color:#1a237e;
  text-decoration: none;
  margin-bottom: 20px;
}
h2{
    color: #ff0000ff;
    margin-top: 25px;

}
a{
  text-decoration: none;
}
</style>
<div class="failed-page" style="top:auto;">
   <img  src="https://png.pngtree.com/png-vector/20210804/ourmid/pngtree-failed-icon-png-image_3777636.jpg" class="center" alt="" />
  <h2>Payment failed !</h2>
  <p>Your Payment is failed.</p>
  <a style="text-decoration:none;" href="/cart">Cart</a>
</div>
<br><br><br><br>
<br><br><br><br>
{% endblock content %}
